{% extends 'base.html' %}

{% block head %}
<style>
    body { align-items: center; justify-content: center; overflow: hidden;
     min-height: 100%;  min-height: 100vh; display: flex;  }
    button { background-color:#37a000; color:white; }
</style>
<title>URL Submission</title>
{% endblock %}

{% block body %}
<div id="content" class="container">
    <div class="d-flex justify-content-center">
        <h1>Submit Tenable Plugin URL</h1>
    </div>
    <form action="{{ url_for('validate') }}" method="post">
        <div class="form-group">
            <label class="d-flex justify-content-center">Tenable Page URL</label>
            <input type="text" class="form-control" name="url" placeholder="Enter URL">
        </div>
        <button type="submit" class="container-fluid btn" onclick="loading();">Submit</button>
    </form>
</div>
{% endblock %}